<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, label: "Nombre" %>
      </div>
      <div class="col-ms-3">
        <%= f.input :due_date, as: :string, input_html: { type: :date }, label: "Fecha de vencimiento" %>
      </div>
      <div class="col-sm-3">
        <%= f.association :category, label: "Categoria" %>
      </div>
      <div class="col-sm-12">
        <%= f.input :description %>
      </div>
    </div>
  </div>
  <br>
  <div class="participants">
    <%= f.simple_fields_for :participating_users do |ff| %>
      <%= render 'participating_user_fields', f: ff %>
    <% end %>
    <%= link_to_add_fields "Add participants", f, :participating_users %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-info' %>
  </div>
<% end %>
