<div class="tasks index-page">
  <div class="display-4">Lista de Tareas</div>
  <p class="text-muted mb-2">
    A continuación verás toda la lista de tareas creadas, podrás crear una nueva tarea, editarla o eliminarla si eres el creador de la misma
  </p>
  <div class="card bg-gray">
    <div class="card-body pb-2">
      <div class="tasks-container">
        <% @tasks.each do |task| %>
          <div class="task-container">
            <div class="task-info">
              <div class="task-title">
                <span class="small"><%= "[##{task.code}]" %></span>
                <%= task.name %>
                <span class="task-category">
                  <%= task.category.name %>
                </span>
              </div>
              <div class="task-description">
                <%= task.description %>
              </div>
              <div class="task-dates">
                <b><%= task.owner.email %></b>
                <%= "creado el #{l task.created_at} / vence el #{task.due_date}" %>
              </div>
            </div>
            <div class="task-interactions">
              <div class="task-participants">
                <% task.participating_users.includes(:user).each do |participant| %>
                <div class="task-participant--<%= participant.role %> task-participant">
                  <%= image_tag "https://robohash.org/#{Digest::MD5.hexdigest(participant.user.email)}?gravatar=hashed", title: participant.user.email %>
                </div>
                <% end %>
              </div>
              <div class="task-actions">
                <div class="dropdown">
                  <a class="dropdown-toggle" id="taskMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <div aria-labelledby="taskMenu" class="dropdown-menu">
                    <%= link_to t('common.show'), task, class: 'dropdown-item' %>
                    <%= link_to t('common.edit'), edit_task_path(task), class: 'dropdown-item' %>
                    <%= link_to t('common.destroy'), task, data: { turbo_method: :delete, turbo_confirm: t('common.are_you_sure') }, class: 'dropdown-item' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
