<p style="color: green"><%= notice %></p>

<%= render @task %>

<div class="notes-container">
  <% @task.notes.each do |note| %>
    <p><%= note.body %></p>
  <% end %>
  <%= simple_form_for Note.new, url: task_notes_path(task_id: @task.id) do |f| %>
    <%= f.input :body, label: false, as: :string, placeholder: 'Escriba su nota', input_html: { autocomplete: :off } %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this task", edit_task_path(@task) %> |
  <%= link_to "Back to tasks", tasks_path %>

  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
